.card-vagas {
  padding: 20px 30px;
  border: 1px solid #ebd6d6;
  width: 633px;
  margin-bottom: 10px;
}

.card-vagas:hover {
  box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.5);
  transition: 0.25s box-shadow ease-in-out;
}

.card-vagas .title {
  font-weight: 600;
  color: var(--color-primary);
  font-size: 18px;
}

.card-vagas .cidade {
  color: var(--color-grey);
  font-size: 12px;
  margin: 20px 0;
}

.card-vagas .salario {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.card-vagas .description {
  font-size: 12px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 20px;
}

.card-vagas .tag-list {
  display: flex;
  flex-direction: row;
}

.card-vagas .tag-list .tag a{
  border: 1px solid var(--color-primary);
  border-radius: 2px;
  padding: 0;
  margin-right: 5px;
  text-decoration: none;
}

.card-vagas .tag-list .tag a span{
  color: var(--color-primary);
  font-size: 10px;
  padding: 3px 7px;
}

.card-vagas .candidatar{
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  padding: 8px 16px;
}

.card-vagas .publicacao {
  color: var(--color-grey);
  font-size: 12px;
}
